<div style="font-style:16px;position:fixed;bottom:12px;right:12px;" id="blckgld-ltypgrm"></div>
{% schema %}
  {
    "name": "Black Gold",
    "target": "body",
    "javascript": "index-a147c8da.js",
    "stylesheet": "index-0640a6c2.css",
    "settings": []
  }
{% endschema %}
