@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .slide-fade-enter-active,
  .slide-fade-exit-active {
    transition:
      opacity 0.3s,
      transform 0.3s;
  }
  .slide-fade-enter,
  .slide-fade-exit-to {
    transform: translateX(100%);
  }
  .slide-fade-enter {
    transform: translateX(-100%);
  }
}
